<section class="products-section page-width md:flex">
  <div class="container mx-auto px-4">
    <h2 class="text-2xl font-bold mb-4">Best Sellers</h2>

    <div class="product-container flex gap-4 overflow-x-scroll">
      {% for block in section.blocks %}
        <div class="product-card group relative flex-none md:w-1/2 md:w-1/5" data-product-index="{{ forloop.index }}">
           
          <div class="overflow-hidden relative">
            <img src="{{ block.settings.product.images[0] | img_url: 'medium' }}" alt="{{ block.settings.product.title }}" class="w-full h-[200px] object-cover transition duration-300 ease-in-out">
            {%- if block.settings.product.images[1] -%}
                <img src="{{ block.settings.product.images[1] | img_url: 'medium' }}" alt="{{ block.settings.product.title }} Secondary Image" class="w-full h-[200px] object-cover transition duration-300 ease-in-out absolute top-0 left-0 opacity-0 group-hover:opacity-100">
            {%- endif -%}
            <div class="absolute top-2 left-2 text-black text-lg font-semibold px-4 py-2 border border-black bg-white rounded-full">
              {{ block.settings.product.category}}
            </div>
            {%- if block.settings.product.price < block.settings.product.compare_at_price -%}
              <div class="absolute top-2 right-2 p-2 text-white text-lg font-semibold px-4 py-2 border border-black bg-green-900 rounded-full">Sale</div>
            {%- endif -%}
          </div>

          <div class="product-info mt-2">
            <p class="text-2xl font-bold">{{ block.settings.product.title }}
            </p>
            <p class="font-medium text-xs">(1 review)</p>
            <p class="text-lg font-bold">{{ block.settings.product.price | money }}
            </p>
          </div>
        </div>
      {% endfor %}
    </div>

    <button id="show-more" class="btn-primary mt-4 md:hidden">Show More</button>
  </div>
</section>

<link rel="stylesheet" href="{{ 'products-section.css' | asset_url }}">

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const showMoreButton = document.getElementById("show-more");
    const productContainer = document.querySelector(".product-container");

    const productCards = document.querySelectorAll(".product-card");
    const productContainerHeight = productContainer.scrollHeight;

    if (window.innerWidth < 768) {
      productContainer.style.height = "auto";
      productContainer.style.overflow = "hidden";
      productContainer.style.transition = "height 0.3s ease";


      productCards.forEach((card, index) => {
        if (index >= 4) {
          card.style.display = "none";
        }
      });

      showMoreButton.classList.remove("hidden");
    }


    showMoreButton ?. addEventListener("click", () => {
      const isShowingMore = showMoreButton.textContent === "Show More";

      if (isShowingMore) {
        productContainer.style.height = `${productContainerHeight}px`;
        setTimeout(() => {
          productCards.forEach((card) => {
            card.style.display = "block";
          });
        }, 300);
      } else {
        productContainer.style.height = "auto";
        productCards.forEach((card, index) => {
          if (index >= 4) {
            card.style.display = "none";
          }
        });
      } showMoreButton.textContent = isShowingMore
        ? "Show Less"
        : "Show More";
    });
  });
</script>

{% schema %}
  {
    "name": "Product Cards",
    "settings": [],
    "blocks": [
      {
        "type": "product",
        "name": "Product",
        "settings": [
          {
            "type": "product",
            "id": "product",
            "label": "Select Product"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Products Section"
      }
    ]
  }
{% endschema %}}}